.avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;

  span {
    display: block;
  }

  .nickName {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
    word-break: break-all;
  }
}

.search {
  :global {
    .ant-select-show-search {
      width: 100%;
    }
  }
}
